@import "compass/reset";
@import "compass/css3/images";
@import "compass/css3/transform";
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,500italic,500,400italic);

html, body
{
	height: 100%;
}

body {
	display: flex;
	flex-flow: row;
	min-width: 325px;
	min-height: 550px;
	color: #FFF;
	background-color: #000;
	font-family: Ubuntu, sans-serif;
}

#pane_left {
	flex: 1 1 30%;
	min-width: 350px;
	background-color: #124;
	overflow: hidden;
	display: flex;
	flex-flow: column;

	.player {
		background-color: #136;
		flex: 1 1 auto;
		margin: 2px 0;
		display: flex;
		flex-flow: column;

		.player_head {
			flex: 1 0 50%;
			font-size: 5vmin;
			position: relative;

			.player_head_inner {
				position: absolute;
				top: 50%;
				@include translateY(-50%);
				width: 100%;

				.player_ring {
					display: inline-block;
					height: 0.5em;
					width: 0.5em;
					border: 0.15em solid #000;
					border-radius: 50%;
					margin: 0 0 0 0.25em;
					vertical-align: middle;
				}

				.player_name {
					display: inline-block;
					margin-top: 0.2em;
					padding-bottom: 0.3em;
					width: calc(100% - 0.3em - 5px - 1em);
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					vertical-align: middle;
				}

				.player_name.dead {
					color: #124;
				}
			}
		}

		.player_stats {
			background-color: #124;
			flex: 1 0 50%;
			width: 100%;
			display: flex;
			font-size: 2.5vmin;

			.stat {
				background-color: #136;
				flex: 1 1 50%;
				position: relative;
				margin-right: 1px;
				margin-top: 1px;

				.stat-inner {
					position: absolute;
					top: 50%;
					width: 100%;
					@include translateY(-50%);
					display: flex;
					flex-flow: row nowrap;

					.stat-icon {
						margin-left: 0.05em;
						flex: 0 0 1.55em;
						color: #27E;
					}

					span {
						flex: 1 0 auto;
					}
				}
			}

			.stat:last-of-type {
				margin-right: 0;
			}
		}

		.player_tech {
			flex: 0 1 auto;
		}
	}

	.player#player_template {
		display: none;
	}
}

#pane_right {
	display: flex;
	flex-flow: column;
	flex: 1 0 70%;
	min-width: 350px;
	overflow: hidden;

	#pane_stars {
		background-color: #000;
		flex: 1 1 auto;
		order: 1;
		overflow: hidden;
		position: relative;

		#star_container {
			position: absolute;
			font-size: 1.75vmin;
			width: calc(100% - 1.0em - 0.6em - 2px);  /* 100% - (3 * (width - border) - 2px) */
			height: calc(100% - 1.0em - 0.6em - 2px); /* 100% - (3 * (height - border) - 2px) */
			margin: 4px;                              /* 4px buffer */
			margin-right: calc(4px + 0.5em + 0.6em);  /* 4px + widthAndHeight + (2 * border) */
			margin-bottom: calc(4px + 0.5em + 0.6em); /* 4px + widthAndHeight + (2 * border) */

			.star {
				height: 0.5em;
				width: 0.5em;
				background-color: #fff;
				border: 0.30em solid #f0f;
				border-radius: 50%;
				min-width: 1px;
				min-height: 1px;
				position: absolute;
			}
		}
	}

	#pane_bottom {
		background-color: #138;
		flex: 0 1 25%;
		order: 2;
		min-height: 70px;
		overflow: hidden;

		.title-area {
			display: flex;
			font-size: 6vmin;
			background-color: #124;
			position: relative;
			z-index: 100;

			#game_title {
				color: #124;
				position: relative;
				flex: 1 1 60%;
				order: 1;
				display: inline-block;
				padding: 5px 60px 5px 10px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			#game_title:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background: #27E;
				@include skewX(-40deg);
				@include transform-origin(100%, 0);
				z-index: -1;
			}

			#game_status:empty ~ #game_title {
				min-width: 100%;
			}

			#game_status {
				flex: 1 1 40%;
				order: 2;
				max-width: 70%;
				text-align: center;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				padding: 5px 20px 5px 10px;
			}

			#game_status.pause {
				color: #D44;
			}

			#game_status:empty {
				display: none;
			}
		}

		.timer-container {
			height: calc(100% - 6vmin - 10px);
			width: 100%;
			display: table;

			#game_timer {
				display: table-cell;
				text-align: center;
				vertical-align: middle;
				font-size: 15vmin;
			}
		}
	}
}

/*@media (max-width: 845px) {
	body {
		flex-flow: column;
	}

	#pane_left {
		flex: 0 0 35%;
		order: 2;
	}

	#pane_right {
		flex: 1 1 auto;
		order: 1;

		#pane_stars {
			order: 2;
		}

		#pane_bottom {
			order: 1;
			flex: 0 0 75px;
		}
	}
}*/
