@import "compass/reset";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import 'https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700';

html, body
{
	height: 100%;
}

body {
	display: flex;
	flex-flow: row;
	min-width: 325px;
	min-height: 550px;
	color: #FFF;
	background-color: #000;
	font-family: Ubuntu, sans-serif;
}

a, a:link, a:visited, a:active {
	color: inherit;
	text-decoration: inherit;
}

/* Error box */
#error {
	position: absolute;
	top: 40%;
	left: 50%;
	@include translate(-50%, -50%);
	background-color: #D22;
	border: 4px solid #600;
	border-radius: 10px;
	padding: 10px;
	min-width: 450px;
	max-width: 50%;
	z-index: 1050;
	text-align: center;
	display: none;

	.icon-attention-alt {
		font-size: 3rem;
		margin-bottom: 1.2rem;
	}

	#error_text {
		font-size: 1.8rem;

		span {
			font-size: 1.4rem;
		}
	}

	.reload-time {
		margin-top: 1.2rem;
		font-size: 1.4rem;
	}

	.reload-time:empty {
		margin-top: 0;
	}
}

/* Player pane - default layout */
#pane_left {
	flex: 1 1 30%;
	min-width: 500px;
	background-color: #124;
	overflow: hidden;
	display: flex;
	flex-flow: column;

	.player {
		background-color: #136;
		flex: 1 1 auto;
		margin: 2px 0;
		display: flex;
		flex-flow: column;

		.player-head {
			flex: 1 0 50%;
			font-size: 4vmin;
			position: relative;

			.player-head-inner {
				position: absolute;
				top: 50%;
				@include translateY(-50%);
				width: 100%;

				.player-ring {
					display: inline-block;
					font-size: 1.4em;
					width: 1em;
					margin: 0 0 0 0.25rem;
					vertical-align: middle;
				}

				.player-name {
					display: inline-block;
					margin-top: 0.2em;
					margin-left: -0.2em;
					padding-bottom: 0.3em;
					width: calc(100% - 0.5rem - 1.4em);
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					vertical-align: middle;
				}

				.player-name.ready {
					color: #5D5;
				}

				.player-name.dead {
					color: #666;
				}
			}
		}

		.player-stats {
			background-color: #124;
			flex: 1 0 50%;
			width: 100%;
			display: flex;
			font-size: 2.3vmin;

			.stat {
				background-color: #136;
				flex: 1 1 50%;
				position: relative;
				margin-right: 1px;
				margin-top: 1px;

				.stat-inner {
					position: absolute;
					top: 50%;
					width: 100%;
					@include translateY(-50%);
					display: flex;
					flex-flow: row nowrap;

					.stat-icon {
						margin-left: 0.05em;
						flex: 0 0 1.55em;
						color: #27E;
					}

					span {
						flex: 1 0 auto;
					}
				}
			}

			.stat:last-of-type {
				margin-right: 0;
			}
		}
	}

	.player#player_template {
		display: none;
	}
}

/* Player pane - minimal layout */
#pane_left.player-minimal {
	.player {
		flex-flow: row nowrap;
		margin: 1px 0;

		.player-head {
			flex-basis: 60%;
			font-size: 4vmin;
		}

		.player-stats {
			flex-basis: 40%;
			font-size: 3.0vmin;

			.stat {
				margin: 0;
				margin-left: 1px;
				text-align: center;

				.stat-inner {
					flex-flow: column wrap;

					.stat-icon {
						margin-left: 0;
						font-size: 2.5vmin;
						flex: 0 1 auto;
					}

					span {
						flex: 1 1 auto;
					}
				}
			}

			.stat.economy, .stat.industry, .stat.science {
				display: none;
			}
		}
	}
}

/* Player pane - very minimal layout */
#pane_left.player-minimal-extreme {
	@extend #pane_left.player-minimal;

	.player {
		margin: 0;
		margin-bottom: 1px;

		.player-head {
			font-size: 2.75vmin;
		}

		.player-stats {
			.stat {
				.stat-inner {
					flex-flow: row nowrap;
					font-size: 2vmin;

					.stat-icon {
						flex: 0 0 1.55em;
						font-size: inherit;
					}

					span {
						font-size: inherit;
					}
				}
			}
		}
	}
}

/* Stars and game info */
#pane_right {
	display: flex;
	flex-flow: column;
	flex: 1 1 70%;
	min-width: 350px;
	overflow: hidden;

	/* Star pane */
	#pane_stars {
		background: #000 image-url("bg.jpg", false, false) 50% 50% no-repeat;
		background-size: cover;
		background-color: #000;
		flex: 1 1 auto;
		order: 1;
		overflow: hidden;
		position: relative;

		#star_container {
			position: absolute;
			font-size: 1.75vmin;
			width:  calc(100% - 3.6em); /* 2 * margin */
			height: calc(100% - 3.6em);
			margin: 1.8em; /* Roughly 2 * starWidthOrHeight */

			.star {
				position: absolute;
				font-size: 0.9em;
				line-height: 0.5em;
				min-height: 1px;
				height: 0.5em;
				width: 0.5em;
				min-width: 1px;
				background-color: #FFF;
				border-radius: 50%;
				@include single-box-shadow(0, 0, 0.1em, 0, #FFF);
			}

			.star:before {
				font-size: 1.9em;
				position: absolute;
				right: 50%;
				@include translateX(50%);
			}
		}

		.star-loader {
			background: #000 image-url("loading.gif", false, false) 50% 50% no-repeat;
			width: 116px;
			height: 116px;
			margin: 5px;
			border: 3px solid #138;
			border-radius: 116px;
			position: absolute;
			top: 50%;
			left: 50%;
			@include translate(-50%, -50%);
			@include opacity(0.8);
			z-index: 1000;
		}
	}

	/* Game info pane */
	#pane_bottom {
		background-color: #138;
		flex: 0 1 25%;
		order: 2;
		min-height: 70px;
		overflow: hidden;

		.title-area {
			display: flex;
			font-size: 6vmin;
			background-color: #124;
			position: relative;
			z-index: 100;

			#game_title {
				color: #124;
				position: relative;
				flex: 1 1 60%;
				order: 1;
				display: inline-block;
				padding: 5px 60px 5px 10px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			#game_title:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background: #27E;
				@include skewX(-40deg);
				@include transform-origin(100%, 0);
				z-index: -1;
			}

			#game_status:empty ~ #game_title {
				min-width: 100%;
			}

			#game_status {
				flex: 1 1 auto;
				order: 2;
				max-width: 70%;
				text-align: center;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				padding: 5px 20px 5px 10px;
			}

			#game_status.pause {
				color: #D44;
			}

			#game_status:empty {
				display: none;
			}
		}

		.timer-container {
			height: calc(100% - 6vmin - 10px);
			width: 100%;
			display: table;

			#game_timer {
				display: table-cell;
				text-align: center;
				vertical-align: middle;
				font-size: 15vmin;

				.winner {
					margin-top: 1rem;
					display: inline-block;
					font-size: 9vmin;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					max-width: 85%;
				}

				.win-heading {
					text-align: left;
					font-size: 5vmin;
				}
			}
		}
	}
}
