# Windows / OS X filesystem junk
Desktop.ini
Thumbs.db
.DS_Store

# Gross compiled stuff
.sass-cache
css/*
!css/fontello-embedded.css
js/*.min.*
!js/jquery.min.js
vendor

# Naughty things we don't want the world to see
data/*
!data/.htaccess
config.ini
