# Windows / OS X filesystem junk
Desktop.ini
Thumbs.db
.DS_Store

# Gross compiled stuff
.sass-cache
build
vendor
node_modules

# Naughty things we don't want the world to see
data/*
!data/.htaccess
config.ini

releases
