name: publish
on: [create]
jobs:
  call-base-workflow:
    uses: ./.github/workflows/base-workflow.yml
  create-artifact:
    runs-on: ubuntu-latest
    needs: call-base-workflow
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          name: build
          path: build
      - run: |
          ls
          ls build
          CLEAN_VERSION=${GITHUB_REF//refs\/tags\/v/}
          sed -i.bak "s/#APPVERSION#/$CLEAN_VERSION/" build/*.php
          rm build/*.bak
          mkdir dist
          cp README.md LICENSE dist/
          mv build dist/public
          zip -qr dist.zip dist
      - uses: actions/upload-artifact@v3
        with:
          name: publish-artifact
          path: |
            dist.zip
  draft-release:
    runs-on: ubuntu-latest
    needs: create-artifact
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: publish-artifact
      - run: |
          TAG=${GITHUB_REF//refs\/tags\//}
          ZIP_FILENAME="np2-wallboard-${TAG}.zip"
          mv dist.zip $ZIP_FILENAME
      - uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: |
            *.zip
